<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Scripts/app.js"></script>







  COMP125-Web interface Design Summer 2018</h6></p>

  
</body>

</html>